<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    {{{body}}}
    <!--#666 <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script> -->
    <!--#666 <script src='/javascripts/main.js'></script> -->
    <!-- we comment out the above line because we no longer need it to link to the javascripts/main.js file -->
  </body>
</html>
